.construction-about {

    padding: 64px 128px !important;
    position: relative;
    overflow: hidden;
    background: white;

    @include media-breakpoint-down(lg) {
      padding: 15px !important;
    }

    .about-text-wrapper {
        z-index: 10;
    }

    .about-house-wrapper {
        position: absolute;
        bottom: 30px;
        right: 128px;
        z-index: 1;

        @include media-breakpoint-down(lg) {
            right: 15px !important;
        }
    }

    .about-contacts-wrapper {
        position: absolute;
        bottom: 0;
        background: white;
        z-index: 10;
        padding: 0 15px;
        width: 100%;
    }

}
