.construction-contacts
{
    position: relative;
    overflow: hidden;
    background: white;

    .frame {

        position: absolute;
        top: 0;
        left: 128px;
        right: 128px;
        bottom: 60px;
        border-left: solid 3px $blue;
        border-right: solid 3px $blue;
        border-bottom: solid 3px $blue;

        @include media-breakpoint-down(lg) {
            left: 15px;
            right: 15px;
        }

        @include media-breakpoint-down(sm) {
            left: 15px;
            right: 15px;
            border: none;
        }

        .contacts-form-wrapper {

            form {

                span, label {
                    width: 100%;
                }

                input {
                    height: 45px;
                    border: 1px solid $blue;
                    width: 100%;
                    padding: 0 15px;
                }

                textarea {
                    border: 1px solid $blue;
                    width: 100%;
                    padding: 15px;
                }

                input[type=submit] {
                    background: white;
                    width: 280px !important;
                    border: 1px solid $blue;
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 27px;
                    color: $blue;
                    cursor: pointer;
                }

                .ajax-loader {
                    display: none;
                }

            }

        }

        .logo-wrapper {
            left: 20px;
            bottom: -44px;
            top: unset;
        }

        .menu-wrapper {
            right: 20px;
            bottom: -25px;
            top: unset;
        }

    }
}