body, html
{
  padding: 0;
  margin: 0;
  border: none;
  font-family: 'Roboto', sans-serif;
  color: $blue;
}

p, span, h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  color: $blue;
}

.text-big {
  font-size: 44px;
  line-height: 51px;

  @include media-breakpoint-down(lg) {
    font-size: 32px;
    line-height: 32px;
  }
}

.text-bigger-2 {
  font-size: 37px;
  line-height: 1.19;
}

.text-bigger {
  font-size: 32px;
}

.text-medium {
  font-size: 26px;
}

.text-font-light {
  font-weight: 300;
}

.text-font-bold {
  font-weight: 600;
}

.text-bold {
  font-weight: bold;
}

.background-center {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}