body, html
{
  padding: 0;
  margin: 0;
  border: none;
}

p, span, h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  color: $blue;
}

.text-big {
  font-size: 44px;
  line-height: 51px;

  @include media-breakpoint-down(lg) {
    font-size: 32px;
    line-height: 32px;
  }
}

.text-medium {
  font-size: 32px;
}

.text-font-light {
  font-weight: 300;
}

.text-font-bold {
  font-weight: 600;
}