.construction-about {
    position: relative;
    overflow: hidden;
    background: white;
    height: 100%;
    padding-left: 80px;
    padding-right: 80px;

    @include media-breakpoint-down(sm) {
        padding-left: 40px;
        padding-right: 40px;
    }

    .about-top-line {
        position: absolute;
        right: 82px;
        top: 0;
        height: 100px;
        width: 1px;
        background: $blue;

        @include media-breakpoint-down(md) {
            right: 81px;
            height: 70px;
        }
    }

    .about-bottom-left-line {
        position: absolute;
        left: 0;
        bottom: 78px;
        height: 1px;
        width: 325px;
        background: $blue;

        @include media-breakpoint-down(md) {
            bottom: 46px;
            width: 225px;
        }

        @include media-breakpoint-down(sm)
        {
            width: 42px;
            bottom: 75px;
        }
    }

    .about-text-wrapper {
        z-index: 50;
        margin-top: 300px;
        line-height: 1.7;

        @include media-breakpoint-down(lg)
        {
            margin-top: 340px;
        }

        @include media-breakpoint-down(md)
        {
            margin-top: 270px;
        }

        @include media-breakpoint-down(sm)
        {
            margin-top: 125px;
        }

        .about-title-wrapper {
            @include media-breakpoint-down(sm)
            {
                h2 {
                    max-width: 200px;
                }
            }
        }

        .about-text {
            line-height: 1.7;
            padding-left: 15px;

            @include media-breakpoint-down(sm) {
                padding-left: 12px;
                max-width: 240px;
            }
        }

        .about-text-beam {
            border: 2px solid $red;
            width: 1px;
            height: 100%;
            border-radius: 2.5px;
            float: right;

            @include media-breakpoint-down(md) {
                border: 2px solid $red;
            }
        }

    }

    .about-house-animated {
        position: absolute;
        bottom: -50px;
        right: 50px;
        max-height: 90%;
        z-index: 11;
        width: 600px;

        @include media-breakpoint-down(lg) {
            width: 500px;
        }

        @include media-breakpoint-down(md) {
            right: 0;
            width: 400px;
            bottom: -10px;
        }
    }

    .about-roof-animated {
        position: absolute;
        bottom: -15px;
        right: -15px;
        width: 150px;

        @include media-breakpoint-down(sm) {
            width: 300px;
            right: -25px !important;
        }

        @include media-breakpoint-down(xs) {
            width: 150px;
            right: -25px !important;
        }

    }

    .about-footer-wrapper {
        position: absolute;
        bottom: 55px;
        left: 345px;
        background: white;
        z-index: 10;
        font-size: 30px;

        @include media-breakpoint-down(lg) {
            font-size: 20px;
            bottom: 62px;
        }

        @include media-breakpoint-down(md) {
            font-size: 16px;
            bottom: 34px;
            left: 245px;
        }

        @include media-breakpoint-down(sm){
            left: 55px;
            bottom: 50px;
        }
    }
}
