.construction-about {
    position: relative;
    overflow: hidden;
    background: white;

    .frame {
        height: 90%;
        position: relative;
        margin: 40px 60px 0 60px;
        border: solid 1px $blue;

        @include media-breakpoint-down(lg) {
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 30px;
        }

        @include media-breakpoint-down(sm) {
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 30px;
            border: none;
        }

        .about-text-wrapper {
            z-index: 10;
            padding-top: 120px;
            padding-left: 70px;
            line-height: 1.7;

            .logo-animated {
                width: 205px;
                height: 101px;
            }

            .about-text-beam-animated {
                position: absolute;
                right: 0;
                width: 10px;
                height: 100%;
            }

            @include media-breakpoint-down(lg) {
                padding-top: 20px;
            }

            @include media-breakpoint-down(md) {
                padding-left: 45px;
                padding-right: 45px;
            }

            @include media-breakpoint-down(sm) {
                padding: 0;
                margin-bottom: 0;
            }

        }

        .about-icons-wrapper {
            padding-left: 150px;
            padding-right: 150px;

            .about-icon {
                width: 140px;
                height: 140px;

                @include media-breakpoint-down(sm) {
                    width: 60px;
                    height: 60px;
                }
            }

            .about-icon-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            @include media-breakpoint-down(md) {
                padding-left: 45px;
                padding-right: 45px;
            }

            @include media-breakpoint-down(sm) {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .about-house-animated {
            position: absolute;
            bottom: -60px;
            top: 100px;
            right: 70px;
            width: 700px;
            background: white;
            z-index: 11;

            @include media-breakpoint-down(lg)
            {
                top: 40px;
                width: 600px;
                right: 20px;
            }
        }

        .about-contacts-wrapper {
            position: absolute;
            bottom: -21px;
            left: 20px;
            background: white;
            z-index: 10;

            @include media-breakpoint-down(sm){
                left: 0;
                font-size: 14px;
                width: 100%;

                p {
                    font-size: 18px !important;
                }
            }
        }
    }
}
