.construction-gallery {
    position: relative;
    overflow: hidden;
    background: white;
    width: 100%;

    @include media-breakpoint-down(md)
    {
        padding-top: 0;
    }

    @include media-breakpoint-down(sm)
    {
        padding: 0;
        padding-top: 70px;
    }

    .slide {
        height: 100%;
        width: 100%;
        position: relative;

        .gallery-image-wrapper {
            height: 100%;

            .gallery-image-slash {
                position: absolute;
                right: -1px;
                top: 0;
                bottom: 0;
                height: 100%;
            }
        }

        .gallery-right {

            padding-right: 80px;

            .gallery-menu-top-line
            {
                position: absolute;
                right: 82px;
                top: 0;
                height: 100px;
                width: 1px;
                background: $blue;

                @include media-breakpoint-down(md) {
                    height: 70px;
                }
            }

            .gallery-text-wrapper {
                margin-top: 300px;

                .gallery-text-inner-wrapper {
                    max-width: 650px;
                }

                .gallery-beam {
                    width: 140px;
                    border: 5px solid $red;
                    border-radius: 5px;
                }
            }

            .gallery-date-wrapper {
                margin-top: 100px;
            }

            .next-story-wrapper {
                position: absolute;
                right: 335px;
                bottom: 60px;
            }

            .next-story-line {
                position: absolute;
                right: 0;
                bottom: 95px;
                width: 325px;
                background: $blue;
                height: 1px;
            }
        }
    }

}