.construction-gallery {
    position: relative;
    overflow: hidden;
    background: white;
    width: 100%;

    @include media-breakpoint-down(md)
    {
        padding-top: 0;
    }

    @include media-breakpoint-down(sm)
    {
        padding: 0;
    }

    .slide {
        height: 100%;
        width: 100%;
        position: relative;

        .gallery-image-wrapper {
            height: 100%;

            .gallery-image-slash {
                position: absolute;
                right: -1px;
                top: 0;
                bottom: 0;
                height: 100%;
            }

            .gallery-image-slash-mobile {
                position: absolute;
                right: -1px;
                bottom: -1px;
                width: 100%;
            }

            @include media-breakpoint-down(sm) {
                height: 50%;
            }
        }

        .gallery-right {

            padding-right: 80px;

            @include media-breakpoint-down(sm) {
                padding-right: 15px;
            }

            .gallery-menu-top-line
            {
                position: absolute;
                right: 82px;
                top: 0;
                height: 100px;
                width: 1px;
                background: $blue;

                @include media-breakpoint-down(md) {
                    height: 70px;
                }
            }

            .gallery-text-wrapper {
                margin-top: 300px;

                @include media-breakpoint-down(lg) {
                    margin-top: 250px;
                }

                @include media-breakpoint-down(md) {
                    margin-top: 130px;
                }

                @include media-breakpoint-down(sm) {
                    margin-top: 0;
                }

                .gallery-beam {
                    width: 140px;
                    border: 5px solid $red;
                    border-radius: 5px;

                    @include media-breakpoint-down(sm) {
                        width: 60px;
                        border: 1.5px solid $red;
                    }
                }
            }

            .gallery-date-wrapper {
                margin-top: 100px;

                @include media-breakpoint-down(lg) {
                    margin-top: 50px;
                }

                @include media-breakpoint-down(md) {
                    margin-top: 30px;
                }
            }

            .next-story-wrapper {
                position: absolute;
                right: 335px;
                bottom: 60px;

                @include media-breakpoint-down(md) {
                    bottom: 33px;
                    right: 250px;
                }
            }

            .next-story-line {
                position: absolute;
                right: 0;
                bottom: 95px;
                width: 325px;
                background: $blue;
                height: 1px;

                @include media-breakpoint-down(md) {
                    bottom: 65px;
                    width: 240px;
                }
            }
        }
    }

}