body, html
{
  padding: 0;
  margin: 0;
  border: none;
  font-family: 'Roboto', sans-serif;
  color: $blue;
}

p, span, h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  color: $blue;
}

.text-super-big {
  font-size: 85px;

  @include media-breakpoint-down(lg) {
    font-size: 55px;
    line-height: 50px;
  }

  @include media-breakpoint-down(md) {
    font-size: 38px;
    line-height: 40px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 30px;
    line-height: 28px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 24px;
    line-height: 35px;
  }
}

.text-big {
  font-size: 41px;
  line-height: 51px;

  @include media-breakpoint-down(lg) {
    font-size: 32px;
    line-height: 32px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 19px;
    line-height: 20px;
  }
}

.text-bigger-2 {
  font-size: 37px;
  line-height: 1.19;
}

.height-100 {
  height: 100%;
}

.text-red {
  color: $red;

  p {
    color: $red;
  }
}

.text-bigger {
  font-size: 32px;
  line-height: 32px;

  @include media-breakpoint-down(lg)
  {
    font-size: 24px;
  }

  @include media-breakpoint-down(md)
  {
    font-size: 18px;
  }

  @include media-breakpoint-down(sm)
  {
    font-size: 16px;
  }
}

.text-medium {
  font-size: 26px;

  @include media-breakpoint-down(lg)
  {
    font-size: 20px;
  }

  @include media-breakpoint-down(md)
  {
    font-size: 18px;
  }

  @include media-breakpoint-down(sm)
  {
    font-size: 12px;
    line-height: 15px;
  }
}

.text-font-light {
  font-weight: 300;
}

.text-font-bold {
  font-weight: 600;
}

.text-bold {
  font-weight: bold;
}

.visibility-hidden {
  visibility: hidden !important;
}

.background-center {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-wrapper {
  position: absolute;
  right: 80px;
  top: 110px;
  z-index: 2;

  @include media-breakpoint-down(lg) {
    top: 40px;

    h4 {
      font-size: 16px;
    }
  }

  h4 {
    display: inline-block;
    color: $blue;
    text-transform: uppercase;

    &.active::after {
      content: '';
      width: 100%;
      border: solid 2px $blue;
      border-radius: 2px;
      display: block;
      margin-top: 5px;
    }

    @include media-breakpoint-down(md) {
      &.active {
        border-bottom: solid 1px $blue;
      }
    }

    @include media-breakpoint-down(sm) {
      display: block;
      border: none;
    }
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.logo-wrapper {
  position: absolute;
  background: white;
  top: 110px;
  left: 80px;
  width: 150px;

  @include media-breakpoint-down(lg) {
    top: 40px;
    width: 120px;
  }

  @include media-breakpoint-down(sm) {
    left: 30px;
    top: 30px;
    width: 100px;
  }
}

.fp-controlArrow {

  @include media-breakpoint-down(sm) {
    top: 80%;
  }

  &.fp-prev {
    width: 70px;
    height: 115px;
    left:80px;
    background: url("svg/left_arrow.svg") no-repeat !important;
    border: none;
    display: none;

    @include media-breakpoint-down(md) {
      width: 50px;
    }

    @include media-breakpoint-down(sm) {
      width: 18px;
      left: 30px;
      top: 70%;
      display: block;
      background: url("svg/left_arrow_mobile.svg") no-repeat !important;
    }
  }

  &.fp-next {
    width: 70px;
    height: 115px;
    right:80px;
    background: url("svg/right_arrow.svg") no-repeat !important;
    border: none;
    z-index: 11;

    @include media-breakpoint-down(md) {
      width: 50px;
    }

    @include media-breakpoint-down(sm) {
      width: 18px;
      right: 30px;
      top: 70%;
      background: url("svg/right_arrow_mobile.svg") no-repeat !important;
    }
  }
}